.container {
    text-align: left;
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.18);
    height: auto;
    border-radius: 8px;
    background-color: white;
    box-shadow: -5px 5px 10px 2px rgba(0, 0, 0, 0.07);
}

.element {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
}

.taskHeader {
    color: #052731;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.taskOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 45%;
    height: auto;
    background-color: #f6ffff;
    font-weight: bolder;
    font-size: 1.15rem;
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    top: -5%;
    left: 105%;
    z-index: 3;
    border-radius: 15px;
    box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.11);
}

@media screen and (max-width: 750px) {
    .taskOptions {
        width: 25%;
    }
}

.taskOptions ul {
    list-style: none;
    padding: 1rem;
}

.taskOptions li {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.taskOptions li:hover {
    transform: scale(1.1);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    cursor: pointer;
    width: 10%;
    border-radius: 50%;
    transition: background-color 0.25s ease;
}

.dot {
    padding: 2.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    transition: background-color 0.25s ease;
}

.options:hover {
    background-color: black;
}

.options:hover .dot {
    background-color: rgb(224, 255, 226);
}

.active {
    background-color: black;
}

.active .dot {
    background-color: rgb(224, 255, 226);
}

.connected {
    width: 20%;
    height: 5px;
    background-color: #000000;
    position: absolute;
    right: -13%;
    z-index: 1;
}

.taskMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    background-color: rgba(7, 48, 80, 0.03);
    box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.09);
    border-left: 5px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}

.taskFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.button {
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    width: auto;
    background-color: rgba(220, 245, 238, 0.15);
    border-radius: 5px;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #052731;
}

.button[disabled] {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

.button:hover {
    transform: scale(1.15);
}

.taskSelect {
    width: 85%;
    padding: 0.25rem;
    border: 2px solid rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -2px 10px 10px 1px rgba(0, 0, 0, 0.05);
}

#taskDescriptionInput {
    padding: 0.5rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.22);
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    background-color: rgba(250, 255, 255, 0.52);
    padding: 1rem;
    text-align: left;
    list-style: none;
    width: 100%;
    height: 290px;
    overflow-y: auto;
    scroll-behavior: smooth;
    border-radius: 5px;
    box-shadow: -2px 5px 10px 5px rgba(0, 0, 0, 0.06);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.comments li {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.02);
    border: 2px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
}

.comments > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
}

.comments input {
    padding: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.22);
    font-weight: bold;
    box-shadow: -2px 10px 10px 2px rgba(0, 0, 0, 0.09);
    width: 100%;
}

.extended {
    grid-row: span 2 / span 2;
}

.taskStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    position: absolute;
    top: 105%;
    padding: 1rem;
}

.taskStatus button {
    font-size: 1.25rem;
}